.tweetBody {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
	width: 50%;
	margin-bottom: 1.5em;
	padding: 3.5em;
	backdrop-filter: blur(0.59em) saturate(182%);
	-webkit-backdrop-filter: blur(0.59em) saturate(182%);
	background-color: rgba(194, 220, 255, 0.44);
	border-radius: 1.5em;
	border: 0.1em solid rgba(255, 255, 255, 0.18);
	box-sizing: border-box;
}

/* .tweetProfilePic {
	width: 10%;
	border-radius: 40%;
} */
.tweetProfilePic {
	display: inline-block;
	position: relative;
	width: 4em;
	height: 4em;
	overflow: hidden;
	border-radius: 50%;
}
.tweetProfilePic img {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
	width: auto;
	height: 100%;
	margin-left: -1em;
}

/* .tweetImageProfile {
    width: 10%;
} */

.tweetHeader {
	display: flex;
	justify-content: space-between;
}
